<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--定义日志文件的存储地址-->
    <property name="LOG_HOME" value="logs" />
    
    <!--获取应用名称-->
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 按照每天生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!-- 专门的签到同步任务日志文件 -->
    <appender name="SIGN_IN_SYNC" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/signin-sync/%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 开发环境 -->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
        
        <logger name="com.lumenglover.yuemupicturebackend.job.UserSignInSyncJob" level="DEBUG">
            <appender-ref ref="SIGN_IN_SYNC" />
        </logger>
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="prod">
        <root level="WARN">
            <appender-ref ref="FILE" />
        </root>

        <!-- 签到同步任务日志 -->
        <logger name="com.lumenglover.yuemupicturebackend.job.UserSignInSyncJob" level="INFO">
            <appender-ref ref="SIGN_IN_SYNC" />
        </logger>

        <!-- Mapper层日志 -->
        <logger name="com.lumenglover.yuemupicturebackend.mapper" level="WARN" />
        
        <!-- Service层日志 -->
        <logger name="com.lumenglover.yuemupicturebackend.service" level="WARN" />
        
        <!-- Controller层日志 -->
        <logger name="com.lumenglover.yuemupicturebackend.controller" level="WARN" />
    </springProfile>
</configuration>
